{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}

<div>
    <h1 id="test">Accueil</h1>

    <div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis rem optio accusamus deleniti. Quis ipsa
            sequi quaerat eveniet pariatur, cupiditate cumque provident voluptatem quibusdam, odio reiciendis laboriosam
            itaque quos voluptas.
        </p>
    </div>

    <div>
        <h2>Dernière publication</h2>
        <div>
            {% for post in posts %}
            <div>
                <p>{{ post.title }}, {{ post.content|slice(0, 50) }}... par {{ post.author.username }}</p>
                {% endfor %}
            </div>
            {# {{ dump(posts) }} #}
            {# <p>{{ posts.title }}, {{ posts.content }} par {{ posts.author.username }}</p> #}
        </div>
    </div>

</div>
{% endblock %}