{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<h1>Post index</h1>

<div>
    <p>Nombre total d'article (<b>{{ posts_paginate.getTotalItemCount }}</b>)</p>
</div>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(posts_paginate) }}
</div>

<div>
    {% for post in posts_paginate %}
    <div style="border: 1px solid #CCC;" class="m-1 p-1">
        <p>{{ post.id }}</p>
        <p>{{ post.author.username }}</p>
        <p>{{ post.title }}</p>
        <p>{{ post.content|slice(0, 20) }} ... <a href="{{ path('app_blog_show_post', {'slug': post.slug}) }}">lire
                la suite</a></p>
        <p>{{ post.createdAt|date('Y-m-d H:i:s')}}</p>
        <p>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</p>

        {#       <div class="m-1">
            <!-- show article -->
            <a href="{{ path('app_blog_show_post', {'slug': post.slug}) }}" class="btn btn-secondary btn-sm">
                <i class="fa-solid fa-eye"></i>
            </a>
        </div> #}
        {# edit article #}
        {% if is_granted('ROLE_BLOGGER') %}
        <div class="m-1">
            <a href="{{ path('app_blog_edit_post', {'slug': post.slug}) }}" class="btn btn-warning btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <div class="m-1">
                {{ include('blog/_delete_form.html.twig') }}
            </div>
        </div>
        {% endif %}
    </div>

    {% else %}
    <p>Aucun post pour le moment</p>
    {% endfor %}
</div>

{% if is_granted('ROLE_BLOGGER') %}
<a class="btn btn-primary btn-sm" href="{{ path('app_blog_new_post') }}">Nouvelle publication</a>
{% endif %}


{% endblock %}